Xcursor.theme: Vimix-cursors
Xcursor.size: 16

#define c00 #191919
#define c01 #e86363
#define c02 #95c997
#define c03 #d1cf87
#define c04 #6593d8
#define c05 #b068b2
#define c06 #72bebf
#define c07 #d8d8d8
#define c08 #7a7a7a
#define c09 #ff7575
#define c10 #94db97
#define c11 #eae88c
#define c12 #488cf2
#define c13 #d36bd6
#define c14 #6eced1
#define c15 #cccccc
#define cbg #4c4c4c
#define cfg #f79191

*.color0:       c00
*.color1:       c01
*.color2:       c02
*.color3:       c03
*.color4:       c04
*.color5:       c05
*.color6:       c06
*.color7:       c07
*.color8:       c08
*.color9:       c09
*.color10:      c10
*.color11:      c11
*.color12:      c12
*.color13:      c13
*.color14:      c14
*.color15:      c15
*background:    cbg
*foreground:    cfg

xterm*color0:       c00
xterm*color1:       c01
xterm*color2:       c02
xterm*color3:       c03
xterm*color4:       c04
xterm*color5:       c05
xterm*color6:       c06
xterm*color7:       c07
xterm*color8:       c08
xterm*color9:       c09
xterm*color10:      c10
xterm*color11:      c11
xterm*color12:      c12
xterm*color13:      c13
xterm*color14:      c14
xterm*color15:      c15

UXTerm*renderFont: true
UXTerm*faceName: /usr/share/fonts/nerd-fonts-complete/OTF/"Fura Code Regular Nerd Font Complete Mono.otf"
UXTerm*faceSize: 12



###yellowhighlight+redhighlight=#e87e6b